{% extends "base.html" %}
{% from 'macros/url.html' import u %}

{% block content %}

<div class="breadcrumbs-wrap">
    <div class="container">
        <ul class="breadcrumbs">
            
<li><a href="/">Главная/</a></li>            <li><a href="/">ИСТОРИЯ, ТРАДИЦИИ, ДОСТИЖЕНИЯ</a></li>            <li><span aria-current="page">/Антикоррупционная деятельность</span></li>

        </ul>
    </div>
</div>

<section class="static-page migrated-page">
    <div class="static-page-inner">
        <h1 class="static-page-title">Антикоррупционная деятельность</h1>

        <div class="static-page-body">
            <html><body><section>

<p>Борьба с коррупцией в Республике Беларусь является важнейшей государственной задачей.</p>
<p>Базовым документом, на основе которого организуется антикоррупционная деятельность в нашей стране, является Закон Республики Беларусь «О борьбе с коррупцией».</p>
<p>Коррупция считается важной общественно-политической проблемой, снижающей темпы экономического роста. Преступления, совершаемые должностными лицами, и особенно с коррупционной направленностью, причиняют существенный вред авторитету государственной власти, препятствуют нормальному функционированию органов государственной власти и управления, а также аппарата управления иных органов и организаций независимо от форм собственности, подрывают доверие граждан к властным структурам.</p>
<p>В Республике Беларусь сформирована принципиальная позиция государства по противодействию коррупции и ее преступным проявлениям.</p>
<p>Согласно статье 1 Закона Республики Беларусь «О борьбе с коррупцией» коррупция – умышленное использование государственным должностным или приравненным к нему лицом либо иностранным должностным лицом своего служебного положения и связанных с ним возможностей в целях противоправного получения имущества или другой выгоды в виде работы, услуги, покровительства, обещания преимущества для себя или для третьих лиц, а равно подкуп государственного должностного или приравненного к нему лица либо иностранного должностного лица путем предоставления им имущества или другой выгоды в виде работы, услуги, покровительства, обещания преимущества для них или для третьих лиц с тем, чтобы это государственное должностное или приравненное к нему лицо либо иностранное должностное лицо совершили действия или воздержались от их совершения при исполнении своих служебных (трудовых) обязанностей, а также совершение указанных действий от имени или в интересах юридического лица, в том числе иностранного.</p>
<p>В соответствии со статьей 16 Закона Республики Беларусь «О борьбе коррупцией» государственное должностное лицо, лицо, претендующее на занятие должности государственного должностного лица, в целях недопущения действий, которые могут привести к использованию ими своего служебного положения и связанных с ним возможностей и основанного на нем авторитета в личных, групповых и иных внеслужебных интересах, дают обязательство по соблюдению ограничений, установленных статьями 17 – 20 вышеназванного Закона, и ставятся в известность о правовых последствиях неисполнения такого обязательства.</p>
<p>Обязательство государственного должностного лица, лица, претендующего на занятие должности государственного должностного лица, оформляется в письменной форме кадровой службой соответствующего государственного органа, иной организации. Не подписание такого обязательства влечет за собой отказ в регистрации в качестве кандидата на должность государственного должностного лица, в назначении на должность государственного должностного лица либо освобождение государственного должностного лица от занимаемой должности в порядке, установленном законодательными актами.</p>
<p>Должностные лица кадровой службы соответствующего государственного органа, иной организации за неисполнение возложенных на них должностных обязанностей по оформлению письменного обязательства государственного должностного лица, лица, претендующего на занятие должности государственного должностного лица, либо несвоевременное ознакомление государственных должностных лиц с предъявляемыми к ним требованиями несут дисциплинарную ответственность в порядке, установленном законодательными актами.</p>
<hr/>
<p><a href="https://drive.google.com/file/d/1JyJy8D-IB1-M4hxGLYNVzRf4RYcppU1X/view?usp=sharing" target="_blank">Закон Республики Беларусь от 30.12.2022 № 232-3 “Об изменении законов по вопросам борьбы с коррупцией”</a></p>
<p><a href="https://drive.google.com/file/d/1mFUt-UILH7EPcPaqDjCNKw_4ggxmzUw9/view?usp=sharing" target="_blank">Комментарии к Закону Республики Беларусь “О борьбе с коррупцией”</a></p>
<p><a href="https://drive.google.com/file/d/1uoRpWq5lvbhZyK7zBwK4y2Xc2WLXPEta/view?usp=sharing" target="_blank">Закон Республики Беларусь от 15 июля 2015 г. № 305-3 “О борьбе с коррупцией”</a></p>
<p><a href="https://drive.google.com/file/d/1B-xPMcnmypdxCIkkDTdyX3u8W6aN1d4I/view?usp=sharing" target="_blank">План работы комиссии по противодействию коррупции</a></p>
<p><a href="https://drive.google.com/file/d/1KjXE9O-pkZYx1OjxXhFEUgUT44ISX-UG/view?usp=drive_link" target="_blank">План мероприятий по организации предупреждения и профилактики коррупционных правонарушений</a></p> <div></div><div></div>

</section></body></html>
        </div>
    </div>
</section>
{% endblock %}