{% extends "base.html" %}
{% from 'macros/url.html' import u %}

{% block content %}

<div class="breadcrumbs-wrap">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="{{ u('/') }}">Главная/</a></li>            <li><a href="{{ u('/') }}">ОБРАЗОВАНИЕ/</a></li>            <li><a href="{{ u('/') }}">Методическая работа</a></li>            <li><span aria-current="page">/Учебно-методические материалы</span></li>
        </ul>
    </div>
</div>

<section class="static-page migrated-page">
    <div class="container static-page-inner">
        <h1 class="static-page-title">Учебно-методические материалы</h1>
        
        <div class="static-page-body">
            <html><body><section>

<p>Учебно-методические материалы для использования  в образовательном процессе размещены на различных интернет-платформах: Google Drive,  LearningApps.org, Padlet.com,  <a href="https://joyteka.com/ru" target="_blank">образовательная платформа </a><a href="https://joyteka.com/ru" target="_blank">Joyteka</a>, на сайте колледжа.</p>
<p>Интерактивные задания, выполненные с использованием LearningApps.org, используются на учебных занятиях по учебному предмету «Физика»:</p>
<p><a href="https://learningapps.org/watch?v=py924xzgt22" target="_blank">https://learningapps.org/watch?v=py924xzgt22</a>,</p>
<p><a href="https://learningapps.org/view6036118" target="_blank">https://learningapps.org/view6036118</a>,</p>
<p><a href="https://padlet.com/tamaravankovich/padlet-ohpa2uwdy6th8itu" target="_blank">https://padlet.com/tamaravankovich/padlet-ohpa2uwdy6th8itu</a>;</p>
<p>электронный практикум по учебному предмету «Экономико-математические методы»:</p>
<p><a href="/emm/" target="_blank">http://ngaek.by/emm/</a>;</p>
<p>учебный предмет «Базы данных и системы управления базами данных»:</p>
<p><a href="https://drive.google.com/drive/folders/1RwXtawhYbHvOuWk6LYTnxV6mtbdFGF4z?usp=sharing" target="_blank">https://drive.google.com/drive/folders/1RwXtawhYbHvOuWk6LYTnxV6mtbdFGF4z?usp=sharing</a>;</p>
<p>рабочая тетрадь по учебному предмету «Теория бухгалтерского учета»:</p>
<p><a href="https://docs.google.com/document/d/1PbSd7fEXzU4rgAePo5kuzYMFkz-xNwYx/edit?usp=sharing&amp;ouid=113242861842386750629&amp;rtpof=true&amp;sd=true" target="_blank">https://docs.google.com/document/d/1PbSd7fEXzU4rgAePo5kuzYMFkz-xNwYx/edit?usp=sharing&amp;ouid=113242861842386750629&amp;rtpof=true&amp;sd=true</a>;</p>
<p>учебно-методический комплекс по учебному предмету «Статистика»:</p>
<p><a href="https://docs.google.com/document/d/1V86fKTzMu3xn9vbC52RFOvUILTa9W61X/edit?usp=sharing&amp;ouid=113242861842386750629&amp;rtpof=true&amp;sd=true" target="_blank">https://docs.google.com/document/d/1V86fKTzMu3xn9vbC52RFOvUILTa9W61X/edit?usp=sharing&amp;ouid=113242861842386750629&amp;rtpof=true&amp;sd=true</a>;</p>
<p>отдельные элементы учебно-методического комплекса по учебному предмету «Основы менеджмента»:</p>
<p><a href="https://drive.google.com/drive/folders/1nkMneKfp16sXLHFoyRVKhBDVkmU17rcx?usp=sharing" target="_blank">https://drive.google.com/drive/folders/1nkMneKfp16sXLHFoyRVKhBDVkmU17rcx?usp=sharing</a>.</p>
<p>элементы учебно-методического комплекса по учебному предмету «Основы охраны труда»:</p>
<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSePHkurEe4J725OfsRsPBEbpJvOvKoA0wB64sBz3WcWDmwHdg/viewform?usp=sf" target="_blank">https://docs.google.com/forms/d/e/1FAIpQLSePHkurEe4J725OfsRsPBEbpJvOvKoA0wB64sBz3WcWDmwHdg/viewform?usp=sf</a></p>
<p>Кураторский час. День Матери</p>
<p><a href="https://drive.google.com/file/d/1NCOM5r96CX2HaJpTvz0ayw0c3JUuQTVx/view?usp=sharing" target="_blank">https://drive.google.com/file/d/1NCOM5r96CX2HaJpTvz0ayw0c3JUuQTVx/view?usp=sharing</a>,</p>
<p>Урок в музее</p>
<p><a href="https://drive.google.com/file/d/1Pdlp1k49p8hhi8wC1wcpuPFJ0JeCGRyI/view?usp=sharing" target="_blank">https://drive.google.com/file/d/1Pdlp1k49p8hhi8wC1wcpuPFJ0JeCGRyI/view?usp=sharing</a>,</p>
<p>Кураторский час. Народные традиции.</p>
<p><a href="https://drive.google.com/file/d/1r0Jj4ncimH3MOSiNlB0PsXvR413O4Qid/view?usp=sharing" target="_blank">https://drive.google.com/file/d/1r0Jj4ncimH3MOSiNlB0PsXvR413O4Qid/view?usp=sharing</a></p> <div></div><div></div>

</section></body></html>
        </div>
    </div>
</section>
{% endblock %}