{% extends "base.html" %}
{% from 'macros/url.html' import u %}

{% block content %}

<div class="breadcrumbs-wrap">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="{{ u('/') }}">Главная/</a></li>            <li><a href="{{ u('/') }}">ОБРАЗОВАНИЕ</a></li>            <li><span aria-current="page">/Дополнительное образование взрослых</span></li>
        </ul>
    </div>
</div>

<section class="static-page migrated-page">
    <div class="container static-page-inner">
        <h1 class="static-page-title">Дополнительное образование взрослых</h1>
        
        <div class="static-page-body">
            <html><body><section>

<p> </p>
<p>В соответствии с постановлением Министерства образования Республики Беларусь и Министерства труда и социальной защиты Республики Беларусь от 30.01.2018 № 7/14, общегосударственным классификатором Республики Беларусь ОКРБ 014-2017 «Занятия», утвержденным Постановлением Министерства труда и социальной защиты Республики Беларусь от 24.07.2017 <br/> № 33,  уставом, колледж имеет возможность осуществлять профессиональную подготовку в рамках дополнительного образования взрослых по профессиям: </p>
<div style="overflow-x: auto; margin: 24px 0;"><table>
<tbody>
<tr>
<td>
<p>4132-003</p>
</td>
<td>
<p>Оператор электронно-вычислительных машин (персональных электронно-вычислительных машин)</p>
</td>
<td>
<p>4-6 разряд</p>
</td>
</tr>
<tr>
<td>
<p>5230-009</p>
</td>
<td>
<p>Контролер-кассир (контролер)</p>
</td>
<td>
<p>4-6 разряд</p>
</td>
</tr>
<tr>
<td>
<p>5151-009</p>
</td>
<td>
<p>Горничная</p>
</td>
<td>
<p>1-3 разряд</p>
</td>
</tr>
</tbody>
</table></div> <div></div><div></div>

</section></body></html>
        </div>
    </div>
</section>
{% endblock %}