{% extends "base.html" %}
{% from 'macros/url.html' import u %}

{% block content %}

<div class="breadcrumbs-wrap">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="{{ u('/') }}">Главная/</a></li>            <li><a href="{{ u('/') }}">ОБРАЗОВАНИЕ/</a></li>            <li><a href="{{ u('/') }}">Методическая работа</a></li>            <li><span aria-current="page">/Повышение квалификации</span></li>
        </ul>
    </div>
</div>

<section class="static-page migrated-page">
    <div class="container static-page-inner">
        <h1 class="static-page-title">Повышение квалификации</h1>
        
        <div class="static-page-body">
            <html><body><section>

<p><a href="http://www.ripo.by/" target="_blank">Республиканский портал "Профессиональное образование"</a></p>
<p><a href="https://ripo.by/index.php?id=1564" target="_blank">Квалификационный экзамен на  получение и подтверждение высшей  категории</a></p> <div></div><div></div>

</section></body></html>
        </div>
    </div>
</section>
{% endblock %}