{% extends "base.html" %}
{% from 'macros/url.html' import u %}

{% block content %}

<div class="breadcrumbs-wrap">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="{{ u('/') }}">Главная/</a></li>            <li><a href="{{ u('/') }}">ОБРАЗОВАНИЕ/</a></li>            <li><a href="{{ u('/') }}">Методическая работа</a></li>            <li><span aria-current="page">/Цикловые комиссии</span></li>
        </ul>
    </div>
</div>

<section class="static-page migrated-page">
    <div class="container static-page-inner">
        <h1 class="static-page-title">Цикловые комиссии</h1>
        
        <div class="static-page-body">
            <html><body><section>

<p>Для организации образовательного процесса в 2025/2026 учебном году созданы 5 цикловых комиссий:</p>
<ul>
<li>общеобразовательных предметов – председатель Садохо Н.М.;</li>
<li>документоведения – председатель Степущенок Т.М.;</li>
<li>учетно-экономических предметов – председатель Соболевская И.В.;</li>
<li>информационных технологий – председатель Волотовская Т.Е.;</li>
<li>организации гостиничных услуг – председатель Щука Е.А.</li>
</ul>
<p>Состав цикловых комиссий:</p>
<ul>
<li>общеобразовательных предметов:</li>
</ul>
<ol>
<li>Садохо Н.М. – председатель;</li>
<li>Бегун Л.М.</li>
<li>Бобрик А.Г.</li>
<li>Наквас Е.А.</li>
<li>Жаголкин В.И.</li>
<li>Соколовский Ю.И.</li>
<li>Трус Н.Н.</li>
<li>Табола Г.И.</li>
<li>Чиков В.В.</li>
<li>Янцевич Л.Н.</li>
<li>Терешко К.А.</li>
<li>Гиль Т.В.</li>
<li>Кветковский А.А.</li>
<li>Бохан О.А.</li>
</ol>
<ul>
<li>документоведения:</li>
</ul>
<ol>
<li>Степущенок Т.М. – председатель,</li>
<li>Коваленко Н.В.</li>
<li>Нарчук М.В.</li>
<li>Степанькова Г.Р.</li>
<li>Черноусова Н.И.</li>
<li>Неведомская Н.М.</li>
</ol>
<ul>
<li>учетно-экономических предметов:</li>
</ul>
<ol>
<li>Соболевская И.В. – председатель</li>
<li>Барсегян Д.Р.</li>
<li>Боровик О.А.</li>
<li>Крумкач Т.Н.</li>
<li>Лобзанюк Т.Л.</li>
<li>Мостовская О.С.</li>
</ol>
<ul>
<li>Информационных технологий</li>
</ul>
<ol>
<li>Волотовская Т.Е. – председатель,</li>
<li>Ванькович Т.В.</li>
<li>Винник Р.А.</li>
<li>Бруевич К.А.</li>
<li>Захарич В.Л.</li>
<li>Стриков Е.В.</li>
<li>Януль В.В.</li>
</ol>
<ul>
<li>организации гостиничных услуг</li>
</ul>
<ol>
<li>Щука Е.А. – председатель;</li>
<li>Андреенкова В.Д.</li>
<li>Невмержицкая Е.И.</li>
<li>Терешко С.Л.</li>
<li>Трус Е.А.</li>
<li>Лукша И.А.</li>
</ol> <div></div><div></div>

</section></body></html>
        </div>
    </div>
</section>
{% endblock %}