{% extends "base.html" %}
{% from 'macros/url.html' import u %}

{% block content %}

<div class="breadcrumbs-wrap">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="{{ u('/') }}">Главная/</a></li>            <li><a href="{{ u('/') }}">КОНТАКТЫ</a></li>            <li><span aria-current="page">/Форма обратной связи</span></li>
        </ul>
    </div>
</div>

<section class="static-page migrated-page">
    <div class="container static-page-inner">
        <h1 class="static-page-title">Форма обратной связи</h1>
        
        <div class="static-page-body">
            <html><body><section>

<p>Уважаемые посетители сайта! Ниже вы можете задать свои вопросы администрации колледжа.</p>
<hr/>
<p> </p>

</section></body></html>
        </div>
    </div>
</section>
{% endblock %}