{% extends "base.html" %}
{% from 'macros/url.html' import u %}

{% block content %}

<div class="breadcrumbs-wrap">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="{{ u('/') }}">Главная/</a></li>            <li><a href="{{ u('/') }}">КОНТАКТЫ</a></li>            <li><span aria-current="page">/Интерактивная карта</span></li>
        </ul>
    </div>
</div>

<section class="static-page migrated-page">
    <div class="container static-page-inner">
        <h1 class="static-page-title">Интерактивная карта</h1>
        
        <div class="static-page-body">
            <html><body><section>

<p><a href="https://new.moiro.by/edumap/?focus_region=minskiy" target="_blank">Интерактивная карта образовательной сети Минского района</a></p> <div></div><div></div>

</section></body></html>
        </div>
    </div>
</section>
{% endblock %}