{% extends "base.html" %}
{% from 'macros/url.html' import u %}

{% block content %}

<div class="breadcrumbs-wrap">
    <div class="container">
        <ul class="breadcrumbs">
            
<li><a href="/">Главная/</a></li>            <li><a href="/">ИСТОРИЯ, ТРАДИЦИИ, ДОСТИЖЕНИЯ</a></li>            <li><span aria-current="page">/История</span></li>

        </ul>
    </div>
</div>

<section class="static-page migrated-page">
    <div class="static-page-inner">
        <h1 class="static-page-title">История колледжа</h1>

        <div class="static-page-body">
            <html><body><section>

<div>
<p>Учреждение образования «Новопольский государственный аграрно-экономический колледж» расположен в д.Новое Поле Минского района.</p>
<p>История колледжа берет свое начало с далекого 1946 года. После Великой Отечественной войны перед народным хозяйством остро встал вопрос подготовки квалифицированных кадров для восстановления и развития сельского хозяйства. Решением Исполнительного Комитета Минского областного Совета депутатов трудящихся 9 февраля 1946 года № 114 и решением  Заславского райисполкома и районного комитета Коммунистической партии большевиков Беларуси  19 января 1946 года № 21«Об организации в бывшем имении «Новое Поле» Заславского района сельскохозяйственного заведения» в Новом Поле была организована одногодичная школа колхозных птицеводов.</p>
<p>С 1951 года  Новопольская сельскохозяйственная школа готовила кадры  пчеловодов и счетоводов.</p>
<p><img alt="" loading="lazy" src="/images\university\history\istoria2.jpg"/></p>
<p>Постановлением Совета Министров БССР 14 мая 1952 года № 638 на базе Новопольской одногодичной сельскохозяйственной школы был организован Новопольский сельскохозяйственный техникум.</p>
<p>Приказом Министерства сельского хозяйства и продовольствия Республики Беларусь 28 мая 2002 №180 и 10.10.2002 года №392 Новопольский сельскохозяйственный техникум переименован в учреждение образования «Новопольский государственный аграрно-экономический колледж».</p>
<p><img alt="" loading="lazy" src="/images\university\history\istoria4.jpg"/></p>
<p>В этот период прием учащихся проводился по специальностям:</p>
<ul>
<li>бухгалтерский учет в сельскохозяйственном производстве;</li>
<li>планирование и учет в сельскохозяйственном производстве;</li>
<li>планирование в сельскохозяйственном производстве.</li>
</ul>
<p>С 1956 по 1975 годы в техникуме работало заочное отделение.</p>
<p><img alt="" loading="lazy" src="/images\university\history\istoria5.jpg"/></p>
<p>С 1973 по 1989 годы техникум готовил специалистов–техников по механизации учета и вычислительных работ в сельскохозяйственном производстве.</p>
<p><img alt="" loading="lazy" src="/images\university\history\istoria6.jpg"/></p>
<p><span>Период реформирования и преобразования политической и экономической жизни способствовал появлению новых специальностей в высших и средних специальных учебных заведениях страны. С 1990 года в техникуме открылось дневное отделение «Правоведение», с 1997 года – заочное.</span></p>
<p>С сентября 2004 года в колледже открыто заочное отделение по специальности «Бухгалтерский учет, анализ и контроль», обучение осуществляется за счет средств государственного бюджета и за счет собственных средств учащихся.</p>
<p>С сентября 2008 года ведется подготовка специалистов для сельскохозяйственных организаций Минской области по специальностям «Программное обеспечение информационных технологий» и «Документоведение и документационное обеспечение управления».</p>
<p>В соответствии с Распоряжением Президента Республики Беларусь от 2 июня 2016 года № 90рп «О безвозмездной передаче предприятий как имущественных комплексов» 15 июля 2016  колледж передан в  собственность Минского областного исполнительного комитета.  </p>
<p>15 декабря 2014 года колледжу выдан Сертификат соответствия СТБ ISO 9001-2009, удостоверяющий, что СМК применительно к планированию, разработке и осуществлению образовательной деятельности по подготовке специалистов со средним специальным образованием в очной (дневной) и заочной формах получения образования соответствует требованиям СТБ ISO 9001-2009.</p>
<p>В 2016/2017 учебном году на базе учреждения образования начала работу стартап-школа «Поможем в запуске и развитии бизнеса», реализуемым обществом содействия инновационному бизнесу (далее – ОСИБ).</p>
<p>Стартап-школа объединила прогрессивных, предприимчивых, инициативных преподавателей и учащихся.</p>
<p> С 2018/2019 учебного года колледж реализует программу профессиональной подготовки в рамках учебного предмета «Трудовое обучение» по профессии «Оператор электронно-вычислительных машин (персональных электронно-вычислительных машин») 4-го разряда.</p>
<p>В 2020 году в колледже начата подготовка по специальности «Организация гостиничных услуг».</p>
<p> Образовательный процесс осуществляется педагогическим коллективом высокого профессионального мастерства. Благодаря высокому уровню кадрового потенциала  преподавательского состава за годы своей деятельности колледж стал одним из наиболее престижных учреждений среднего специального образования, кузницей квалифицированных и конкурентоспособных кадров для Минской области.</p>
<p><img alt="" loading="lazy" src="/images\university\history\istoria01.jpg"/></p>
<p>Исследовательская работа учащихся является неотъемлемой частью их учебы и осуществляется в формах участия в специализированных  конференциях, конкурсах, олимпиадах. </p>
<p>Учащиеся активно принимают участие в международных студенческих олимпиадах: «IT-Планета» и «BIT-Cup»;  в Республиканском конкурсе профессионального мастерства «WorldSkills Belarus, Республиканском конкурсе молодых бухгалтеров, аналитиков и аудиторов,  в международных студенческих научно-практических конференциях «Современные технологии в науке, технике, образовании», «Молодость. Интеллект. Инициатива», в интернет-проекте «IT-решения для образования будущего», конкурсе инновационного и технического творчества учащихся и работников учреждений образования и др.</p>
<p><img alt="" loading="lazy" src="/images\university\history\istoria02.jpg"/></p>
<p><img alt="" loading="lazy" src="/images\university\history\istoria03.jpg"/></p>
<p>Профессионализм и качество педагогической деятельности подтверждаются  конкретными результатами.  Преподаватели и учащиеся  являются победителями международных   конкурсов и фестивалей,   республиканских конкурсов,   областных конкурсов, олимпиад, фестивалей.</p>
<p><img alt="" loading="lazy" src="/images\university\history\istoria7.jpg"/></p>
<p>Учреждение образования проводит совместную идеологическую работу с РК ОО “БРСМ”, районным профсоюзным комитетом работников АПК, отделом идеологии Минского районного исполнительного комитета, РОО “Белая Русь” РОО “Ветеран”, ИДН Минского района. Налажены тесные связи с Горанским исполнительным комитетом, воинской частью №30151 Гировичи.</p>
<p><img alt="" loading="lazy" src="/images\university\history\istoria04.jpg"/></p>
<p><img alt="" loading="lazy" src="/images\university\history\istoria8.jpg"/></p>
<p>Члены БРСМ и профсоюзной организации активно участвуют в общественной жизни колледжа, помогают в благоустройстве и наведении порядка на территории парковой зоны, оказывают помощь ветеранам войны и труда, являются членами волонтерских отрядов «Добряки» и «Вектор». </p>
<p><img alt="" loading="lazy" src="/images\university\history\istoria05.jpg"/></p>
<p>Воспитанию гражданско-патриотических качеств учащейся молодежи содействует работа музея, в котором собран материал об истории колледжа, разработаны экскурсионные маршруты.</p>
<p><img alt="" loading="lazy" src="/images\university\history\istoria10.jpg"/></p>
<p>Физкультура и спорт всегда были приоритетными направлениями в   деятельности учреждения образования. Каждый год в колледже проводится спартакиада по волейболу, баскетболу, настольному теннису. На протяжении многих лет работают  спортивные секции по массовым видам спорта. В спортивную жизнь колледжа активно вовлечены и педагоги. На протяжении многих лет колледж добивался высоких спортивных результатов, что, несомненно, способствует формированию здорового образа жизни.</p>
<p><img alt="" loading="lazy" src="/images\university\history\istoria06.jpg"/></p>
<p><img alt="" loading="lazy" src="/images\university\history\istoria07.jpg"/></p>
<p>Высокий уровень образования, получаемый в колледже, подтверждается данными по зачислению выпускников  в высшие учебные заведения.</p>
<p>Выпускники колледжа, получив высшее образование, сегодня являются известными учеными: профессора Савицкая Глафира Викентьевна и Стельмахова Тамара Павловна; доцент, кандидат экономических наук Соболевская Алла Николаевна; Мятеж Владимир Станиславович – зам. министра анализа и статистики Республики Беларусь,  Романовский Казимир Эдуардович - бывший советник Министра сельского хозяйства и продовольствия Республики Беларусь, Ломать Зенон Кузьмич - в недавнем прошлом возглавлял Комитет госконтроля Республики Беларусь. Многие другие выпускники работают руководителями и главными специалистами в сельскохозяйственных организациях, правоохранительных органах  и органах государственного управления, в банковской сфере.</p>
<p>Конечный результат нашей работы – это выпуск специалиста, обладающего уровнем профессиональных знаний, соответствующих государственному образовательному стандарту, способного к профессиональному росту и профессиональной мобильности в изменяющихся условиях современного высокотехнологичного производства; высоконравственной личности.<img alt="" loading="lazy" src="/images\ngaek\290919_01.jpg"/></p>
<p>14 мая 2022 года колледж праздновал 70-летний юбилей.</p>
<p>Торжественные мероприятия состоялись 21 мая. Радушно учебное заведение встречало выпускников, ветеранов и гостей.</p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_10be8d77b62a.jpg"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_850bc279a594.jpg"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_5fe0a07e9f13.jpg"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_0a5251800579.jpg"/></p>
<p>Традиционно на встречу с юностью приезжает один из первых выпускников Романовский Эдуард</p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_66caf7ba62cb.jpg"/></p>
<p>30 июня 2022 года состоялся выпуск специалистов.</p>
<p>Выпускники начнут трудовую деятельность 1 августа 2022 года. Они   пополнят  ряды специалистов Республики Беларусь.</p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_29f8db8e934e.jpg"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_624ab7a050f2.jpg"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_b9f6e93a7d69.jpg"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_5b80bc2ae529.jpg"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_c662361196e8.jpg"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_fcd7059dc30c.jpg"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_f95c6bb90372.jpg"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_9bdb7e63d4ea.jpg"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_a9a394cda5ba.jpg"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_bf6106e6e358.jpg"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_502af534ef08.jpg"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_81fa9538046a.jpg"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_e6243119176c.jpg"/></p>
</div> <div></div><div></div>

</section></body></html>
        </div>
    </div>
</section>
{% endblock %}