{% extends "base.html" %}
{% from 'macros/url.html' import u %}

{% block content %}

<div class="breadcrumbs-wrap">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="{{ u('/') }}">Главная</a></li>            <li><span aria-current="page">/КОНТАКТЫ</span></li>
        </ul>
    </div>
</div>

<section class="static-page migrated-page">
    <div class="container static-page-inner">
        <h1 class="static-page-title">Контакты</h1>
        
        <div class="static-page-body">
            <html><body><section>

<p><strong><span>Официальное наименование: </span></strong>Учреждение образования «Новопольский государственный аграрно-экономический колледж»</p>
<p><strong>Почтовый адрес: </strong>223025, Минская область, Минский район, д. Новое Поле, ул. Студенческая, 1.</p>
<p><strong>Телефоны горячей линии по организации и проведению выпускных экзаменов: </strong></p>
<p><a href="tel:+375175054542">8-017-505-45-42</a> - директор УО "Новопольский ГАЭК";<br/><a href="tel:+375175054533">8-017-505-45-33</a> - заместитель директора по учебной работе, заведующий отделением;<br/><a href="tel:+375175054525">8-017-505-45-25</a> - заместитель директора по воспитательной работе;</p>
<p><a href="tel:+375175054548">8-017-505-45-48</a><span> - приемная директора;<br/><a href="tel:+375175054574">8-017-505-45-74</a> - педагог социальный;</span></p>
<p><span><a href="tel:+375175004242">8-017-500-42-42</a> - главное управление по образованию Минского областного исполнительного комитета.</span></p>
<p><strong>Адрес электронной почты (e-mail): </strong>
Этот адрес электронной почты защищён от спам-ботов. У вас должен быть включен JavaScript для просмотра.
 </p>
<p><strong>Режим работы:</strong><br/>понедельник - пятница: 9.00 - 17.00, обеденный перерыв: 13.00 - 14.00<br/>суббота: 9.00 - 14.00<br/>выходной: воскресенье</p>
<p><strong>Банковские реквизиты:</strong></p>
<p>УО «Новопольский государственный аграрно-экономический колледж»<br/><span>Расчётный счёт: <strong>BY65АКВВ36320032600245600000</strong></span><br/><span>Банк: <strong>Минское областное управление №500 ОАО "АСБ Беларусбанк"</strong></span><br/><span>БИК: <strong>АКВВBY2X</strong></span><br/><span>Адрес банка: <strong>г. Минск, пр-т Дзержинского, 69/1</strong></span></p>
<hr/>
<p><strong>Как к нам добраться?</strong></p>
<p></p><div>
<input/>
<div>
<div><a href="javascript:void(0)">На личном транспорте</a></div></div>
<div>
<!-- Plugin Google Maps version 3.2 by Mike Reumer --><!-- fail nicely if the browser has no Javascript -->
<div><div></div></div>
</div>
</div>
<p><span><div>
<input/>
<div>
<div><a href="javascript:void(0)">На общественном транспорте из <span>г. Минска </span>(ст. м. Пушкинская, ст. м. Каменная горка)</a></div></div>
<div>
<p><span>Маршрутное такси №1203тк "ст. м. Пушкинская -- Новое Поле".</span></p>
<p><span>Расписание доступно на <a href="http://212.98.184.49:10610/routetaxi/Home/Index/minsk#/routes/routetaxi/1203/stops/112170/0" target="_blank">сайте</a> перевозчика.</span></p>
<p><span></span></p></div>
</div></span></p>
<p><span><div>
<input/>
<div>
<div><a href="javascript:void(0)">На общественном транспорте из г. Минска (ст. м. Каменная горка)</a></div></div>
<div>
<p><span>автобус №298 "д/с Запад-3 -- Новое Поле -- Черемуха"</span></p>
<div style="overflow-x: auto; margin: 24px 0;"><table>
<tbody>
<tr>
<td>ст. м. Каменная горка (отправление)</td>
<td>07:53</td>
<td>11:38</td>
<td>14:48</td>
<td>18:53</td>
</tr>
<tr>
<td>Новое Поле (прибытие)</td>
<td>08:39</td>
<td>12:24</td>
<td>15:34</td>
<td>19:39</td>
</tr>
</tbody>
</table></div>
<hr/>
<div style="overflow-x: auto; margin: 24px 0;"><table>
<tbody>
<tr>
<td><span>Новое Поле</span> (отправление)</td>
<td>08:58</td>
<td>12:42</td>
<td>15:52</td>
<td>19:57</td>
</tr>
<tr>
<td><span>ст. м. Каменная горка</span> (прибытие)</td>
<td>09:44</td>
<td>13:28</td>
<td>16:38</td>
<td>20:44</td>
</tr>
</tbody>
</table></div>
<p><span></span></p></div>
</div></span></p>
<p><span><div>
<input/>
<div>
<div><a href="javascript:void(0)">На общественном транспорте из г. Минска (пл. Бангалор) или г. Заславля (ж.д. вокзал)</a></div></div>
<div>
<p><span>автобус №223 "д/с Карастояновой -- Заславль -- Новое Поле"</span></p>
<div style="overflow-x: auto; margin: 24px 0;"><table>
<tbody>
<tr>
<td>пл. Бангалор (отправление)</td>
<td>07:25</td>
<td>11:34</td>
<td>14:14</td>
<td>18:18</td>
</tr>
<tr>
<td>г. Заславль (ул. Вокзальная)</td>
<td>08:23</td>
<td>12:32</td>
<td>15:14</td>
<td>19:18</td>
</tr>
<tr>
<td>Новое Поле (прибытие)</td>
<td>08:53</td>
<td>13:00</td>
<td>15:40</td>
<td>19:45</td>
</tr>
</tbody>
</table></div>
<hr/>
<div style="overflow-x: auto; margin: 24px 0;"><table>
<tbody>
<tr>
<td><span>Новое Поле</span> (отправление)</td>
<td>08:58</td>
<td>13:05</td>
<td>15:45</td>
<td>19:50</td>
</tr>
<tr>
<td><span><span>г. Заславль (ул. Вокзальная)</span></span></td>
<td>09:28</td>
<td>13:33</td>
<td>16:11</td>
<td>20:17</td>
</tr>
<tr>
<td><span>пл. Бангалор</span> (прибытие)</td>
<td>10:26</td>
<td>14:31</td>
<td>17:11</td>
<td>21:17</td>
</tr>
</tbody>
</table></div>
<p><span></span></p></div>
</div></span></p> <div></div><div></div>

</section></body></html>
        </div>
    </div>
</section>
{% endblock %}