{% extends "base.html" %}
{% from 'macros/url.html' import u %}

{% block content %}

<div class="breadcrumbs-wrap">
    <div class="container">
        <ul class="breadcrumbs">
            
<li><a href="/">Главная/</a></li>            <li><a href="/">ИСТОРИЯ, ТРАДИЦИИ, ДОСТИЖЕНИЯ</a></li>            <li><span aria-current="page">/Наши достижения</span></li>

        </ul>
    </div>
</div>

<section class="static-page migrated-page">
    <div class="static-page-inner">
        <h1 class="static-page-title">Наши достижения</h1>

        <div class="static-page-body">
            <html><body><section>

<div style="overflow-x: auto; margin: 24px 0;"><table>
<tbody>
<tr>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_33fbcdf86fcb.jpg"/></td>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_655f5bfffc83.jpg"/></td>
</tr>
<tr>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_5787a308a762.jpg"/></td>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_a1b41942c5a3.jpg"/></td>
</tr>
<tr>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_61d0e3f792d8.jpg"/></td>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_018e328651d5.jpg"/></td>
</tr>
<tr>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_32d3ca061aed.jpg"/></td>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_fe73265889cc.jpg"/></td>
</tr>
<tr>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_aa3c2805c0b0.jpg"/></td>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_ae6f7fea32ba.jpg"/></td>
</tr>
<tr>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_caa8bf35a396.jpg"/></td>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_a6a6700f7add.jpg"/></td>
</tr>
<tr>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_f23c40fcd47a.jpg"/></td>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_a2f880bfdd60.jpg"/></td>
</tr>
<tr>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_83d873d5e04b.jpg"/></td>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_1e40a2b3b8e4.jpg"/></td>
</tr>
<tr>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_5be834e1e0e3.jpg"/></td>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_b06cab2194f8.jpg"/></td>
</tr>
<tr>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_21297e405600.jpg"/></td>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_0fc1d1fd7e8a.jpg"/></td>
</tr>
<tr>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_b40bfe681db3.jpg"/></td>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_76589f6bb394.jpg"/></td>
</tr>
<tr>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_6c63602320ba.jpg"/></td>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_137050f87bc1.jpg"/></td>
</tr>
<tr>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_d745fd7267b1.jpg"/></td>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_c82a863ad1a6.jpg"/></td>
</tr>
<tr>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_41dd50b6de1d.jpg"/></td>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_3cfbd0777fdc.jpg"/></td>
</tr>
<tr>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_75e5e3ce5f52.jpg"/></td>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_21fc10fc9a9c.jpg"/></td>
</tr>
<tr>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_56ecce6d5e24.jpg"/></td>
<td><img alt="" loading="lazy" src="/static/images/migrated/mig_8d25bbcabf02.jpg"/></td>
</tr>
</tbody>
</table></div> <div></div><div></div>

</section></body></html>
        </div>
    </div>
</section>
{% endblock %}