{% extends "base.html" %}
{% from 'macros/url.html' import u %}

{% block content %}

<div class="breadcrumbs-wrap">
    <div class="container">
        <ul class="breadcrumbs">
            
<li><a href="/">Главная/</a></li>            <li><a href="/">ИСТОРИЯ, ТРАДИЦИИ, ДОСТИЖЕНИЯ</a></li>            <li><span aria-current="page">/Наши цель и задачи</span></li>

        </ul>
    </div>
</div>

<section class="static-page migrated-page">
    <div class="static-page-inner">
        <h1 class="static-page-title">Наши цель и задачи</h1>

        <div class="static-page-body">
            <html><body><section>

<p><strong>Цель учреждения образования: </strong></p>
<p>создание устойчивого доверия к учреждению образования  «Новопольский государственный аграрно-экономический колледж», качеству подготовленных специалистов, профессиональные компетенции которых соответствуют целям, потребностям, требованиям личности, общества, государства.</p>
<p><strong>Для достижения поставленной цели УО «Новопольский ГАЭК» определяет следующие основные задачи:</strong></p>
<ul>
<li>создание современной учебно-материальной базы УО «Новопольский ГАЭК», оснащение ее энергосберегающим оборудованием и техническими средствами обучения;</li>
<li>системное повышение квалификации, компетентности и профессионализма сотрудников;</li>
<li>использование в образовательном процессе инновационных образовательных технологий;</li>
<li>создание благоприятной образовательной среды, позволяющей развивать профессиональные и социально-нравственные качества учащихся, их гражданскую позицию и патриотизм.</li>
</ul> <div></div><div></div>

</section></body></html>
        </div>
    </div>
</section>
{% endblock %}