{% extends "base.html" %}
{% from 'macros/url.html' import u %}

{% block content %}

<div class="breadcrumbs-wrap">
    <div class="container">
        <ul class="breadcrumbs">
            
<li><a href="/">Главная/</a></li>            <li><a href="/">ИСТОРИЯ, ТРАДИЦИИ, ДОСТИЖЕНИЯ</a></li>            <li><span aria-current="page">/Положение о политике в отношении обработки cookie</span></li>

        </ul>
    </div>
</div>

<section class="static-page migrated-page">
    <div class="static-page-inner">
        <h1 class="static-page-title">Положение о политике в отношении обработки cookie</h1>

        <div class="static-page-body">
            <html><body><section>

<p><span>1. Положение о политике в отношении обработки куки (далее - Политика) является одной из принимаемых учреждением образования «Новопольский государственный аграрно-экономический колледж» мер по защите персональных данных, предусмотренных статьей 17 Закона Республики Беларусь от 7 мая 2021 г. № 99-3 «О защите персональных данных».</span></p>
<p>2. Политика разъясняет субъектам персональных данных предназначение куки, типологию сроки хранения и варианты решений по их обработке.</p>
<p>3. Куки (англ. cookies) являются текстовыми файлами, сохраненными на компьютере (мобильном устройстве) пользователя интернет-сайта «Новопольский государственный аграрно-экономический колледж» (далее - сайт) при его посещении для отражения совершенных действий. Эти файлы позволяют не вводить заново или выбирать те же параметры при повторном посещении сайта, например, выбор языковой версии.</p>
<p>Целью обработки куки является обеспечение удобства пользователей сайта и повышение качества их функционирования.</p>
<p>4. На сайте обрабатываются следующие типы куки:</p>
<p>функциональные - позволяют обеспечить индивидуальный опыт использования сайта и устанавливаются в ответ на действия субъекта персональных данных;</p>
<p>статистические - позволяют хранить историю посещений страниц сайта в целях повышения качества его функционирования, чтобы определить наиболее и наименее популярные страницы.</p>
<p>5. Обрабатываемые на сайте куки и сроки их хранения:</p>
<p>настройка куки (функциональные), хранятся не более года;</p>
<p>выбор версии для слабовидящих (функциональные), часть из которых хранятся во время пользования сайтом, а остальные не более суток;</p>
<p>выбор языковых предпочтений (функциональные), хранятся не более года;</p>
<p>необходимые для функционирования веб-аналитической платформы «Яндекс.Метрика» (статистические), установлены на сайте и не передаются третьим лицам, часть из которых хранятся во время пользования сайтом, а остальные не более года.</p>
<p>6. Пользователи могут принять или отклонить все обрабатываемые на сайте куки, кроме необходимых. Отключение функциональных куки может привести к ограничению пользователя в доступе к определенным функциональным возможностям сайта.</p>
<p>Отключение статистических куки не позволяет определять предпочтения пользователей сайта, в том числе наиболее и наименее популярные страницы и принимать меры по совершенствованию работы сайта, исходя из предпочтений пользователей.</p>
<p>7. Помимо настроек куки на сайте субъекты персональных данных могут принять или отклонить сбор всех или некоторых куки в настройках своего браузера.</p>
<p>При этом некоторые браузеры позволяют посещать интернет-сайты в режиме «инкогнито», чтобы ограничить хранимый на компьютере объем информации и автоматически удалять сессионные куки. Кроме того, субъект персональных данных может удалить ранее сохраненные куки, выбрав соответствующую опцию в истории браузера.</p> <div></div><div></div>

</section></body></html>
        </div>
    </div>
</section>
{% endblock %}