{% extends "base.html" %}
{% from 'macros/url.html' import u %}

{% block content %}

<div class="breadcrumbs-wrap">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="{{ u('/') }}">Главная/</a></li>            <li><a href="{{ u('/') }}">КОНТАКТЫ</a></li>            <li><span aria-current="page">/Структура колледжа</span></li>
        </ul>
    </div>
</div>

<section class="static-page migrated-page">
    <div class="container static-page-inner">
        <h1 class="static-page-title">Структура колледжа</h1>
        
        <div class="static-page-body">
            <html><body><section>

<div>
<p><span><div><div>Директор<span></span></div><div>Зам. директора по учебной работе</div><div>Зам. директора по воспитательной работе</div></div></span></p>
<p><span><div></div></span></p>
<p><span><div><div><span>Трус Николай Николаевич</span><span> </span>
<p><span><a href="tel:+375175054534">т. 8-017-505-45-34</a></span></p>
<p><span>кабинет 26<span></span></span></p></div><div><span>Терешко Светлан Леонидовна</span>
<p><span><span><span><span><a href="tel:+375175054533">т. 8-017-505-45-33</a></span></span></span></span></p>
<p><span><span><span><span>кабинет 26а</span></span><span></span></span></span></p></div><div><span>Бегун Лолита Михайловна</span>
<p><span><span><span><span><a href="tel:+375175054574">т. 8-017-505-45-74</a></span></span></span></span></p>
<p><span><span><span><span>кабинет 27</span></span><span></span></span></span></p></div></div></span></p>
<hr/>
<p><span><div><div>Зам. директора по АХР<span></span></div><div>Заведующая практикой</div><div>Главный бухгалтер</div></div></span></p>
<p></p><div></div>
<div><div>
<p><span>Бохан Дмитрий Анатольевич</span></p>
<p><a href="tel:+375175056456">т. 8-017-505-64-56</a></p>
<p>кабинет 15</p></div><div><span>Неведомская Наталья Мячеславовна</span>
<p><a href="tel:+375175054538">т. 8-017-505-45-38</a></p>
<p>кабинет 29</p></div><div><span>Логвинова Ирина Михайловна</span>
<p><a href="tel:+375175054532">т. 8-017-505-45-32</a></p>
<p>кабинет 19</p></div></div>
<hr/>
<p></p><div><div>Заведующая отделением</div><div></div><div>Руководитель физической культуры</div></div>
<p></p><div></div>
<div><div>Волотовская Татьяна Евгеньевна
<p><a href="tel:+375175054533">т. 8-017-505-45-33</a></p>
<p>кабинет 11</p></div><div></div><div>Наквас Евгений Александрович
<p><a href="tel:+375175054525">т. 8-017-505-45-25</a></p>
<p>кабинет 17</p></div></div>
<p> </p>
</div>
<div> </div>

</section></body></html>
        </div>
    </div>
</section>
{% endblock %}