{% extends "base.html" %}
{% from 'macros/url.html' import u %}

{% block content %}

<div class="breadcrumbs-wrap">
    <div class="container">
        <ul class="breadcrumbs">
            
<li><a href="/">Главная/</a></li>            <li><a href="/">ИСТОРИЯ, ТРАДИЦИИ, ДОСТИЖЕНИЯ</a></li>            <li><span aria-current="page">/Традиции колледжа</span></li>

        </ul>
    </div>
</div>

<section class="static-page migrated-page">
    <div class="static-page-inner">
        <h1 class="static-page-title">Традиции колледжа</h1>

        <div class="static-page-body">
            <html><body><section>

<p>Сохранение традиций колледжа – является одной из составляющих воспитательного процесса учреждения образования «Новопольский государственный аграрно-экономический колледж».  На протяжении многих лет в нашем учебном заведении зарождались определенные традиции, которые сейчас поддерживаются и развиваются всем коллективом. Учащиеся, под руководством педагогов, воспитателей общежитий являются организаторами и участниками праздничных мероприятий, конкурсов, проектов.</p>
<p>День знаний по традиции начинается торжественной линейкой, на которой присутствуют почетные гости колледжа, родители учащихся.</p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_62778c12dfa7.png"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_8ca7f0fa4f9f.png"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_f19b2200a541.png"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_f78141633146.png"/></p>
<p>Квест «Давайте познакомимся)» помогает первокурсникам узнать администрацию, педагогический коллектив, работников колледжа, с которыми на протяжении учебного года придется взаимодействовать.</p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_910f161f0a4d.png"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_06edcefe9fee.png"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_40e878870470.png"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_d34c6c3f1b81.png"/></p>
<p>Акция «Подари педагогу улыбку!»  проходит ежегодно в канун Дня учителя.</p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_be7a93408d5d.png"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_db5f51fcab1d.png"/></p>
<p>С нетерпением ждут все учащиеся День первокурсника, в рамках которого проходит конкурс художественной самодеятельности «Визитка первого курса»</p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_9c7686044901.png"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_007a05999ec3.png"/></p>
<p>Уже стал традиционным квест-марафон «Успеть до 31 декабря!».</p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_39eb3f6c51ec.png"/></p>
<p>Спортландия среди общежитий колледжа на протяжении многих лет превращается в праздник спорта, здоровья, побед и новых открытий.</p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_3b0f488beab1.png"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_f85c7b83be6b.png"/></p>
<p>День студента в общежитиях колледжа – это яркий и незабываемый праздник.</p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_fa32796d1b41.png"/></p>
<p>Конкурс среди команд колледжа и в/ч 3214 «А, ну-ка, парни» способствует воспитанию гражданственности и патриотизма, сознательного и ответственного отношения при подготовке к выполнению воинского долга, готовности к защите Отечества, уважения к военнослужащим и ветеранам.</p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_b7f9e3564dbf.png"/></p>
<p>Конкурсы «Мистер общежития» и «Мисс общежития», которые позволяют учащимся, проживающим в общежитии, продемонстрировать свои лучшие качества и умения.</p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_0dd6a7859ba0.png"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_604245d5bbaf.png"/></p>
<p>Митинг-реквием «Мы помним» у памятника погибшим в годы Великой Отечественной войны в д. Черемуха, посвящённый Дню Победы ежегодно собирает учащихся, коллектив работников колледжа, жителей близлежащих деревень.</p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_f5b1327c0479.png"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_755e37b7dcf1.png"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_755aab3c75ae.png"/></p>
<p>14 мая – день рождения учреждения образования «Новопольский государственный аграрно-экономический колледж». Это памятная дата для всех тех, кто учился и работал в колледже.</p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_0431c7217428.png"/></p>
<p>День здоровья – это праздник спорта, здоровья, находчивости, креативности, который вот уже более 30 лет проходит в начале июня на стадионе колледжа и приносит массу положительных эмоций всем участникам этого праздника.</p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_e3a042733a27.png"/></p>
<p>«Выпускной» -  одно из самых волнующих и торжественных праздников для учащихся, педагогов, родителей. К этому событию наши учащиеся идут с первого дня обучения в колледже.</p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_7bcab1964fb6.png"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_febd39b05b99.jpg"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_aacf169d2951.jpg"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_1a2c64c323f5.jpg"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_e782185ef184.jpg"/></p>
<p><img alt="" loading="lazy" src="/static/images/migrated/mig_1665a620acaa.jpg"/></p> <div></div><div></div>

</section></body></html>
        </div>
    </div>
</section>
{% endblock %}