{% extends "base.html" %}
{% from 'macros/url.html' import u %}
{% block breadcrumbs %}
{% set breadcrumbs = [
  {'label': t.nav.home, 'url': u('/')},
  {'label': t.cookies.page_title, 'url': None}
] %}
{% include 'partials/breadcrumbs.html' %}
{% endblock %}
{% block content %}
<section class="section static-page">
    <div class="container static-page-inner">
        <h1 class="static-page-title">{{ t.cookies.page_title }}</h1>
        <div class="static-page-body">
            <p>{{ t.cookies.page_lead }}</p>
            <p>{{ t.cookies.page_p1 }}</p>
            <p>{{ t.cookies.page_p2 }}</p>
            <p><a href="{{ u('/privacy') }}">{{ t.footer.link_privacy }}</a></p>
        </div>
        <p><a href="{{ u('/') }}" class="btn btn-outline">{{ t.pages.back_home }}</a></p>
    </div>
</section>
{% endblock %}
