{% extends "base.html" %}
{% from 'macros/url.html' import u %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/style_error.css">
{% endblock %}
{% block content %}
<section class="section error-section">
    <div class="container">
        <div class="error-content">
            <div class="error-code">404</div>
            <h1 class="error-title">{{ t.errors.page_not_found }}</h1>
            <p>{{ t.errors.page_not_found_text }} <code>{{ path }}</code></p>
        </div>
        <div class="error-actions">
            <a href="{{ u('/') }}" class="btn btn-primary">{{ t.errors.back_home }}</a>
        </div>
    </div>
</section>
{% endblock %}
