{{ template "header.html" . }}
<section class="section news-detail-section">
    <div class="container">
        <div class="news-detail">
            <div class="news-img">
                <img src="{{ .News.ImagePath }}" alt="{{ .News.Name }}">
            </div>
            <div class="news-content">
                <span class="news-date">{{ .News.FormattedDate }}</span>
                <h1 class="news-title">{{ .News.Name }}</h1>
                <div class="news-fulltext">
                    {{ .News.Description }}
                </div>
                <a href="/" class="back-link">← Вернуться к списку новостей</a>
            </div>
        </div>
    </div>
</section>
{{ template "footer.html" . }}
