{{ template "header.html" . }}
<div class="news-detail-container">
    <article class="news-article">
        {{ if .News.ImagePath }}
        <div class="news-image">
            <img src="{{ .News.ImagePath }}" alt="{{ .News.Name }}" class="img-fluid">
        </div>
        {{ end }}

        <div class="news-header">
            <h1 class="news-title">{{ .News.Name }}</h1>
            <div class="news-meta">
                <time datetime="{{ .News.Date.Format "2006-01-02" }}" class="news-date">
                {{ .News.FormattedDate }}
                </time>
            </div>
        </div>

        <div class="news-content">
            {{ .News.Description | safeHTML }}
        </div>

        <div class="news-footer">
            <a href="/" class="btn btn-primary">Back to News List</a>
        </div>
    </article>
</div>
{{ template "footer.html" . }}
