{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/style_specialization.css">
{% endblock %}
{% block content %}
<section class="section bg-light">
    <div class="container specialties-grid">

        <!-- Гостиничный сервис -->
        <a href="/spec/ogu" style="text-decoration: none;" ><div class="specialty-card">
            <div class="specialty-icon">
                <i class="fas fa-house"></i>
            </div>
            <div class="specialty-info">
                <h3>{{ t.specialties.hotel_title }}</h3>
            </div>
        </div></a>

        <a href="/spec/do" style="text-decoration: none;"><div class="specialty-card">
            <div class="specialty-icon">
                <i class="fas fa-folder"></i>
            </div>
            <div class="specialty-info">
                <h3>{{ t.specialties.documentation_title }}</h3>
            </div>
        </div></a>

        <a href="/spec/soc_rab" style="text-decoration: none;"><div class="specialty-card">
            <div class="specialty-icon">
                <i class="fas fa-folder"></i>
            </div>
            <div class="specialty-info">
                <h3>{{ t.specialties.social_work_title }}</h3>
            </div>
        </div></a>

        <a href="/spec/po" style="text-decoration: none;"><div class="specialty-card">
            <div class="specialty-icon">
                <i class="fas fa-folder"></i>
            </div>
            <div class="specialty-info">
                <h3>{{ t.specialties.software_title }}</h3>
            </div>
        </div></a>
    </div>
</section>

<section class="entry-content">
        <h2 id="f">{{ t.spec_po_content.heading }}</h2>
        <p><strong>{{ t.spec_po_content.qualification }}</strong></p>
        <p>{{ t.spec_po_content.p1 }}</p>
        <p>{{ t.spec_po_content.p2 }}</p>
        <p>{{ t.spec_po_content.p3 }}</p>
        <p>{{ t.spec_po_content.p4 }}</p>
        <p>{{ t.spec_po_content.p5 }}</p>
        <p>{{ t.spec_po_content.p6 }}</p>
        <p>{{ t.spec_po_content.p7 }}</p>
        <p>{{ t.spec_po_content.p8 }}</p>
        <p>{{ t.spec_po_content.p9 }}</p>
        
        <div class="avPlayerWrapper">
            <div class="avPlayerContainer">
                <div id="AVPlayerID_3787337d_143491478" class="avPlayerBlock">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/lCxpxABoCq8?si=V-rpIiA38YvVTmjb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
{% endblock %}