{% extends "base.html" %}
{% from 'macros/url.html' import u %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/style_specialization.css">
{% endblock %}
{% block breadcrumbs %}
{% set breadcrumbs = [
  {'label': t.nav.home, 'url': u('/')},
  {'label': t.specialties.title, 'url': u('/specialties')},
  {'label': t.specialties.byx_title, 'url': None}
] %}
{% include 'partials/breadcrumbs.html' %}
{% endblock %}
{% block content %}
<section class="section bg-light">
    <div class="container specialties-grid">

        <!-- Гостиничный сервис -->
        <a href="{{ u('/spec/ogu') }}" style="text-decoration: none;"><div class="specialty-card">
            <div class="specialty-icon">
                <i class="fas fa-house"></i>
            </div>
            <div class="specialty-info">
                <h3>{{ t.specialties.hotel_title }}</h3>
            </div>
        </div></a>

        <a href="{{ u('/spec/do') }}" style="text-decoration: none;"><div class="specialty-card">
            <div class="specialty-icon">
                <i class="fas fa-folder"></i>
            </div>
            <div class="specialty-info">
                <h3>{{ t.specialties.documentation_title }}</h3>
            </div>
        </div></a>

        <a href="{{ u('/spec/soc_rab') }}" style="text-decoration: none;"><div class="specialty-card">
            <div class="specialty-icon">
                <i class="fas fa-folder"></i>
            </div>
            <div class="specialty-info">
                <h3>{{ t.specialties.social_work_title }}</h3>
            </div>
        </div></a>

        <a href="{{ u('/spec/po') }}" style="text-decoration: none;"><div class="specialty-card">
            <div class="specialty-icon">
                <i class="fas fa-folder"></i>
            </div>
            <div class="specialty-info">
                <h3>{{ t.specialties.software_title }}</h3>
            </div>
        </div></a>
    </div>
</section>

<section class="entry-content">
        <h2 id="f">Бухгалтерский учет, анализ и контроль</h2>
        <p><strong>5-04-0411-01 Бухгалтерский учет, анализ и контроль</strong></p>
        <p><strong>Квалификация: бухгалтер</strong></p>

        <p>На сегодняшний день интересы экономики нашей страны определяют приоритетность профессии бухгалтера. Поэтому в нашем колледже специальность «Бухгалтерский учёт, анализ и контроль» пользуется устойчивым спросом среди абитуриентов. Эта профессия привлекает усидчивых, терпеливых учащихся, имеющих широкий кругозор, собранных и внимательных к деталям.</p>

        <p>От квалификации бухгалтера во многом зависит финансовый успех предприятия. Современный работник бухгалтерской службы должен быть готов для выполнения работы на различных участках бухгалтерского учета.</p>

        <p>В процессе обучения наши учащиеся получают глубокие теоретические знания, практические навыки организации бухгалтерского учета, анализа, налогообложения и контроля на предприятиях различных отраслей и видов деятельности. Также осваивают правовые основы предпринимательства, теорию финансовых отношений и менеджмента, современные информационные технологии.</p>

        <p>Развитию профессионально-психологических качеств будущих бухгалтеров способствуют конкурсы профессионального мастерства, участие учащихся в олимпиадах.</p>

        <p>Подготовка конкурентоспособных специалистов достигается сочетанием высокого профессионализма преподавателей, современным оснащением учебных кабинетов с использованием новейших программ бухгалтерского учета, применением инновационных технологий в учебном процессе.</p>

        <p>Практикоориентированная направленность обучения по специальности «Бухгалтерский учет, анализ и контроль» способствует востребованности выпускников в организациях независимо от формы собственности, организационно-правовой формы, сферы деятельности.</p>

        <div class="avPlayerWrapper">
            <div class="avPlayerContainer">
                <div id="AVPlayerID_3787337d_143491478" class="avPlayerBlock">
                   <iframe width="560" height="315" src="https://www.youtube.com/embed/jxGj96EzTjk?si=-TFRS90Wnim4FsNY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
{% endblock %}