{% extends "base.html" %}
{% from 'macros/url.html' import u %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/style_specialization.css">
{% endblock %}
{% block breadcrumbs %}
{% set breadcrumbs = [
  {'label': t.nav.home, 'url': u('/')},
  {'label': t.specialties.title, 'url': u('/specialties')},
  {'label': t.specialties.do_title, 'url': None}
] %}
{% include 'partials/breadcrumbs.html' %}
{% endblock %}
{% block content %}
<section class="section bg-light">
    <div class="container specialties-grid">

        <!-- Бухгалтерский учет -->
        <a href="{{ u('/spec/byx') }}" style="text-decoration: none;"><div class="specialty-card">
            <div class="specialty-icon">
                <i class="fas fa-calculator"></i>
            </div>
            <div class="specialty-info">
                <h3>{{ t.specialties.accounting_title }}</h3>
            </div>
        </div></a>

        <a href="{{ u('/spec/ogu') }}" style="text-decoration: none;"><div class="specialty-card">
            <div class="specialty-icon">
                <i class="fas fa-house"></i>
            </div>
            <div class="specialty-info">
                <h3>{{ t.specialties.hotel_title }}</h3>
            </div>
        </div></a>

        <a href="{{ u('/spec/soc_rab') }}" style="text-decoration: none;"><div class="specialty-card">
            <div class="specialty-icon">
                <i class="fas fa-folder"></i>
            </div>
            <div class="specialty-info">
                <h3>{{ t.specialties.social_work_title }}</h3>
            </div>
        </div></a>

        <a href="{{ u('/spec/po') }}" style="text-decoration: none;"><div class="specialty-card">
            <div class="specialty-icon">
                <i class="fas fa-folder"></i>
            </div>
            <div class="specialty-info">
                <h3>{{ t.specialties.software_title }}</h3>
            </div>
        </div></a>
    </div>
</section>

<section class="entry-content">
        <h2 id="f">Документационное обеспечение управления</h2>
        <p><strong>5-04-0322-02 Документационное обеспечение управления</strong></p>
        <p><strong>Квалификация: секретарь-референт</strong></p>

        <p>«Документационное обеспечение управления» – это специальность, направленная на изучение методик документирования материалов, фиксации информации от рукописного варианта до электронного документа, включая фотодокументы и другие способы технического документирования.</p>

        <p>Секретарь – это первый помощник руководителя, сотрудник, владеющий оперативной информацией и находящийся в курсе текущих дел компании, организации, предприятия или учреждения.</p>

        <p>Секретарь-референт оформляет документы и обеспечивает их сохранность, работает с офисной техникой, организует прием посетителей, совещания, встречи, выступает представителем своего руководителя на переговорах и умело планирует его рабочий день.</p>

        <p>Будущий специалист прежде всего должен быть пунктуальным, усидчивым, внимательным, ответственным, терпеливым, аккуратным, надежным, коммуникативным. Деловые и личностные качества, необходимые секретарю-референту, мы не даем учащимся в готовом виде, а постепенно развиваем в процессе учебных и внеаудиторных занятий.</p>

        <p>Профессиональные квесты, экспресс-мастерские, интеллектуально-познавательные и деловые игры, турниры ораторов, конкурсы профессионального мастерства «Лучший по профессии», олимпиады по общеобразовательным и профессиональным дисциплинам, встречи с представителями исторического факультета УО «БГУ», экскурсии, участие в мероприятиях колледжа и за его пределами формируют у учащихся привлекательный образ секретаря-референта.</p>

        <p>За время обучения в колледже учащиеся проходят учебную практику по делопроизводству, компьютерный практикум, производственную технологическую и преддипломную практику.</p>

        <p>Выпускники специальности «Документационное обеспечение управления» могут работать секретарем, секретарем-референтом, секретарем приемной руководителя, секретарем суда, администратором, офис-менеджером, инспектором по кадрам.</p>

        <p>Выпускники специальности имеют возможность продолжить обучение в сокращенные сроки в высших учебных заведениях: УО «БГУ», ЧУО «Институт парламентаризма и предпринимательства» и др.</p>

        <p>Профессия секретаря-референта – уверенный шаг в успешное будущее!</p>

        <div class="avPlayerWrapper">
            <div class="avPlayerContainer">
                <div id="AVPlayerID_3787337d_143491478" class="avPlayerBlock">
                   <iframe width="560" height="315" src="https://www.youtube.com/embed/AqaXMKv8Xo4?si=3V5RcjjjNUQjhiXP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
{% endblock %}