{{ template "header.html" . }}
<link rel="stylesheet" href="/static/css/style_specialization.css">
<section class="section bg-light">
    <div class="container specialties-grid">

        <!-- Бухгалтерский учет -->
        <a href="/spec/byx" style="text-decoration: none;"><div class="specialty-card">
            <div class="specialty-icon">
                <i class="fas fa-calculator"></i>
            </div>
            <div class="specialty-info">
                <h3>Бухгалтерский учет, анализ и контроль</h3>
            </div>
        </div></a>

        <!-- Гостиничный сервис -->
        <a href="/spec/ogu" style="text-decoration: none;"><div class="specialty-card">
            <div class="specialty-icon">
                <i class="fas fa-house"></i>
            </div>
            <div class="specialty-info">
                <h3>Организация гостиничных услуг</h3>
            </div>
        </div></a>

        <!-- Документоведение -->
        <a href="/spec/do" style="text-decoration: none;"><div class="specialty-card">
            <div class="specialty-icon">
                <i class="fas fa-folder"></i>
            </div>
            <div class="specialty-info">
                <h3>Документоведение</h3>
            </div>
        </div></a>

        <!-- Социальная работа -->
        <a href="/spec/soc_rab" style="text-decoration: none;"><div class="specialty-card">
            <div class="specialty-icon">
                <i class="fas fa-folder"></i>
            </div>
            <div class="specialty-info">
                <h3>Социальная работа</h3>
            </div>
        </div></a>
    </div>
</section>

<section class="entry-content">
        <h2 id="f">5-04-0612-02 Разработка и сопровождение программного обеспечения информационных систем</h2>
        <p><strong>Квалификация: техник-программист</strong></p>
        <p>На сегодняшний день информационные технологии стали неотъемлемой частью нашей жизни. В последние годы появилось много новых профессий, связанных с информационными технологиями.</p>
        <p>Техник-программист - это специалист, выполняющий работу по обеспечению механизированной и автоматизированной обработки поступающей в вычислительный центр информации, ведущий наблюдение за работой ЭВМ, разрабатывающий программы решения простых задач, составляющий алгоритмы решения задач, схемы коммутации, макеты и т.д.</p>
        <p>В нашем колледже учащиеся получают теоретические знания и практические навыки по следующим направлениям: математика, теория вероятностей и математическая статистика, математическое моделирование; объектно-ориентированные системы программирования Delphi, С#; организация и функционирование ЭВМ и систем, прикладное программное обеспечение, системное программное обеспечение; технология разработки программного обеспечения, компьютерные сети, стандартизация и сертификация программного обеспечения; базы данных и СУБД, автоматизация управления деятельностью организации; программные средства создания Интернет-приложений.</p>
        <p>Большой объем времени на проведение учебных практик по основным профессионально значимым дисциплинам в колледже умело сочетается с качественной организацией и проведением производственной практики в управлениях и отделах информационных технологий различных организаций и предприятий страны.</p>
        <p>В процессе обучения учащиеся проходят подготовку и получают 5 квалификационный разряд по рабочей профессии «Оператор электронно-вычислительных машин», что позволяет существенно повысить их конкурентоспособность на современном рынке труда.</p>
        <p>Творческое сотрудничество преподавателей и учащихся приносит успех. Учащиеся принимают участие в олимпиадах различного уровня, конкурсах профессионального мастерства, научно-практических конференциях, международных выставках.</p>
        <p>Темы дипломных проекты разработаны с учетом заявок организаций заказчиков кадров, о чем свидетельствуют акты внедрения.</p>
        <p>80% выпускников продолжают обучение по НИСПО в БГУИР, БНТУ, БГУ и других учреждениях Республики Беларусь.</p>
        <p>Наш колледж обучит каждого учащегося тем полезным навыкам и практическим приемам, которые непременно станут эффективными предпосылками карьеры успешного техника-программиста.</p>
        
        <div class="avPlayerWrapper">
            <div class="avPlayerContainer">
                <div id="AVPlayerID_3787337d_143491478" class="avPlayerBlock">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/lCxpxABoCq8?si=V-rpIiA38YvVTmjb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
{{ template "footer.html" . }}