{% extends "base.html" %}
{% from 'macros/url.html' import u %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/style_specialization.css">
{% endblock %}
{% block breadcrumbs %}
{% set breadcrumbs = [
  {'label': t.nav.home, 'url': u('/')},
  {'label': t.specialties.title, 'url': u('/specialties')},
  {'label': t.specialties.soc_rab_title, 'url': None}
] %}
{% include 'partials/breadcrumbs.html' %}
{% endblock %}
{% block content %}
<section class="section bg-light">
    <div class="container specialties-grid">

        <!-- Бухгалтерский учет -->
        <a href="{{ u('/spec/byx') }}" style="text-decoration: none;"><div class="specialty-card">
            <div class="specialty-icon">
                <i class="fas fa-calculator"></i>
            </div>
            <div class="specialty-info">
                <h3>{{ t.specialties.accounting_title }}</h3>
            </div>
        </div></a>

        <a href="{{ u('/spec/ogu') }}" style="text-decoration: none;"><div class="specialty-card">
            <div class="specialty-icon">
                <i class="fas fa-house"></i>
            </div>
            <div class="specialty-info">
                <h3>{{ t.specialties.hotel_title }}</h3>
            </div>
        </div></a>

        <a href="{{ u('/spec/do') }}" style="text-decoration: none;"><div class="specialty-card">
            <div class="specialty-icon">
                <i class="fas fa-folder"></i>
            </div>
            <div class="specialty-info">
                <h3>{{ t.specialties.documentation_title }}</h3>
            </div>
        </div></a>

        <a href="{{ u('/spec/po') }}" style="text-decoration: none;"><div class="specialty-card">
            <div class="specialty-icon">
                <i class="fas fa-folder"></i>
            </div>
            <div class="specialty-info">
                <h3>{{ t.specialties.software_title }}</h3>
            </div>
        </div></a>
    </div>
</section>

<section class="entry-content">
        <h2 id="f">Социальная работа</h2>
        <p><strong>5-04-0921-01 Социальная работа</strong></p>

        <p>Над выполнением задач по реализации государственной социальной политики в Минской области работают 7000 специалистов подразделений системы труда, занятости и социальной защиты; организована работа 19 социальных пансионатов, 23 территориальных центров социального обслуживания населения, 3 центров временного (ночного) пребывания лиц без определенного места жительства.</p>

        <p>Цель социальной работы – оказание помощи людям в трудной жизненной ситуации, установление гармоничного взаимодействия с окружающей средой.</p>

        <p>Социальная работа – профессиональная деятельность, направленная на гармонизацию личностных и общественных отношений путем оказания помощи отдельным гражданам, социальным группам в предупреждении, преодолении трудной жизненной ситуации посредством организации их социальной поддержки и социального обслуживания, коррекции, реабилитации, ресоциализации и (или) социальной адаптации.</p>

        <p>В процессе обучения по специальности «Социальная работа» у учащихся формируются профессиональные компетенции в области современных технологий организации социальной поддержки, социальной помощи и реабилитации социально незащищенных слоев населения, а также лиц, имеющих ограничения жизнедеятельности, ведущие к социальной недостаточности.</p>

        <p>За время обучения в колледже учащиеся изучают основы медицинских знаний, социальной медицины, физиологии питания, санитарии и гигиены, реабилитологии, основы педагогики и психологии, теорию и методику социальной работы, деловые коммуникации в социальной работе др.</p>

        <p>Специалисты с квалификацией «специалист по социальной работе» могут работать в социальных пансионатах, территориальных центрах социального обслуживания населения, в специальных домах для ветеранов, престарелых и инвалидов, центрах временного (ночного) пребывания лиц без определенного места жительства.</p>

        <div class="avPlayerWrapper">
            <div class="avPlayerContainer">
                <div id="AVPlayerID_3787337d_143491478" class="avPlayerBlock">
                   <iframe width="560" height="315" src="https://www.youtube.com/embed/agHh0tvyKvI?si=2dfAw7D0ORDxcN3D" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
{% endblock %}